{% extends "admin.html" %}

{% block contentTop %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{ pageHeader }}</h1>
    </div>       
</div>
{% if subHeader %}
<div class="row">
  {{ subHeader|raw }}
</div>
{% endif %}
<div class="row">
  <div class="accordion container-fluid" id="accordion">
    {% for panel in panels %}
      <div class="accordion-item">
        <div class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#card{{ loop.index }}" aria-expanded="true" aria-controls="card{{ loop.index }}">
            {{ panel.title }}
        </div>
        {% if loop.first %}
          <div id="card{{ loop.index }}" class="accordion-collapse collapse show" data-bs-parent="#accordion">
	{% else %}
          <div id="card{{ loop.index }}" class="accordion-collapse collapse" data-bs-parent="#accordion">
	{% endif %}
          <div class="accordion-body">{{ panel.body|raw }}</div>
      </div>
  {% endfor %}
</div>
{% endblock %}

